<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
     
    xmlns:tx="http://www.springframework.org/schema/tx"
    
     xmlns:mvc="http://www.springframework.org/schema/mvc"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   ">
  
  <context:component-scan base-package="springmvcsearch"/>
  
  <mvc:annotation-driven />
 <!--  to let know that our complete work is annotation driven or we can give our controller @enablewebmvc annotation -->
  
  <mvc:resources location="/WEB-INF/resources/" mapping="/resources/**" />
  <!-- handling resources like css , js and images by giving location , where we kept our files -->
  
  <!-- view Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"  name="viewResolver">
      
      <property name="prefix" value="/WEB-INF/views/" />
      <property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- for interceptor , WE are definning in our sprin-servlet.xml -->
    <mvc:interceptors>
      <mvc:interceptor>
         <!-- jis contoller ke lie use krna hh , uss controller ka naam aayega -->
        <mvc:mapping path="/welcome"/>
       <!--  also jo interceptor bnaaya hua hh , uski location  -->
       <bean class="springmvcsearch.MyInterceptor"></bean>
      </mvc:interceptor>
    </mvc:interceptors>
    
    
    
    <!-- we'll configure the multipart resolver , to use the upload file uploading using multipart resolver -->
    <bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    
    </beans>